
.Frame1_1_Frame1 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(245,245,245,1.00);
}
.Frame1_1_Frame1 .Group2 {
	position: absolute;
	left: 36px;
	top: 19.5px;
	width: 24.75px;
	height: 24.75px;
}
.Frame1_1_Frame1 .Group2 .Group1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24.75px;
	height: 24.75px;
}
.Frame1_1_Frame1 .Group2 .Group1 .Ellipse1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24.75px;
	height: 24.75px;
	background: rgba(0,0,0,1.00);
	border-radius: 50%;
}
.Frame1_1_Frame1 .Group2 .Group1 .e {
	position: absolute;
	left: 8.345935821533203px;
	top: 1.9425888061523438px;
	width: 8.25px;
	height: 21.75px;
	color: rgba(255,255,255,1.00);
	font-family: PP Formula;
	font-size: 16.487621784210205px;
	font-weight: 400;
	line-height: 19.32143211364746px;
}
.Frame1_1_Frame1 .Group2 .Ellipse2 {
	position: absolute;
	left: 14.101741790771484px;
	top: 16.763809204101562px;
	width: 1.3670082092285156px;
	height: 1.3670082092285156px;
	background: rgba(184,113,113,1.00);
	border-radius: 50%;
}
.Frame1_1_Frame1 .EDUVERSE {
	position: absolute;
	left: 69.75px;
	top: 25.5px;
	width: 54px;
	height: 18px;
	color: rgba(0,0,0,1.00);
	font-family: PP Formula;
	font-size: 13.5px;
	font-weight: 400;
	line-height: 15.8203125px;
}
.Frame1_1_Frame1 .Vector1 {
	position: absolute;
	left: 36.75px;
	top: 63.75px;
	width: 1366.5px;
	height: 0.0001201629638671875px;
}
.Frame1_1_Frame1 .EDUVERSE_1 {
	position: absolute;
	left: 56.28628921508789px;
	top: 93.88715744018555px;
	width: 1335.7186889648438px;
	height: 492.8668670654297px;
}
.Frame1_1_Frame1 .Everydayremovebg1 {
	position: absolute;
	left: 50.25px;
	top: 99px;
	width: 466.5px;
	height: 483px;
	object-fit: cover;
	overflow: hidden;
}
.Frame1_1_Frame1 .removal1 {
	position: absolute;
	left: 606px;
	top: 107.25px;
	width: 409.5px;
	height: 477px;
	object-fit: cover;
	overflow: hidden;
}
.Frame1_1_Frame1 .removal2 {
	position: absolute;
	left: 1015.5px;
	top: 105px;
	width: 364.5px;
	height: 483px;
	object-fit: cover;
	overflow: hidden;
}
.Frame1_1_Frame1 .Vector2 {
	position: absolute;
	left: 36.75px;
	top: 609.7498626708984px;
	width: 1366.5px;
	height: 0.0001373291015625px;
}
.Frame1_1_Frame1 .Vector3 {
	position: absolute;
	left: 36.75px;
	top: 673.5px;
	width: 1366.5px;
	height: 0.0001373291015625px;
}
.Frame1_1_Frame1 .MANGTRINGHIMMETAVERSENGIODC {
	position: absolute;
	left: 37.5px;
	top: 626.25px;
	width: 447.75px;
	height: 30.75px;
	color: rgba(0,0,0,1.00);
	font-family: Oswald;
	font-size: 21px;
	font-weight: 400;
	line-height: 24.609375px;
}
.Frame1_1_Frame1 .Frame3 {
	position: absolute;
	left: 1275px;
	top: 625.5px;
	width: 127.5px;
	height: 32.25px;
	display: flex;
	padding-top: 6px;
	padding-right: 18px;
	padding-bottom: 6px;
	padding-left: 18px;
	box-sizing: border-box;
	background: rgba(250,238,131,1.00);
	border-radius: 9px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Frame1_1_Frame1 .Frame3 .KHMPHNGAY {
	position: relative;
	flex: none;
	margin-right: 7.5px;
	width: 91.5px;
	height: 20.25px;
	color: rgba(0,0,0,1.00);
	font-family: Oswald;
	font-size: 13.5px;
	font-weight: 300;
	line-height: 15.8203125px;
}
.Frame1_1_Frame1 .KHMPHNGAY_1 {
	position: absolute;
	left: 1310.25px;
	top: 21px;
	width: 93.75px;
	height: 20.25px;
	color: rgba(0,0,0,1.00);
	font-family: Oswald;
	font-size: 13.5px;
	font-weight: 400;
	line-height: 15.8203125px;
}
.Frame1_1_Frame1 .WHITEPAPER {
	position: absolute;
	left: 1211.25px;
	top: 21px;
	width: 75px;
	height: 20.25px;
	color: rgba(0,0,0,1.00);
	font-family: Oswald;
	font-size: 13.5px;
	font-weight: 400;
	line-height: 15.8203125px;
}
.Frame1_1_Frame1 .Vector4 {
	position: absolute;
	left: 1298.25px;
	top: 24px;
	width: 0px;
	height: 12px;
}
