
.Frame2_Frame2 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(245,245,245,1.00);
}
.Frame2_Frame2 .Group2 {
	position: absolute;
	left: 36px;
	top: 19.5px;
	width: 24.75px;
	height: 24.75px;
}
.Frame2_Frame2 .Group2 .Group1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24.75px;
	height: 24.75px;
}
.Frame2_Frame2 .Group2 .Group1 .Ellipse1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24.75px;
	height: 24.75px;
	background: rgba(0,0,0,1.00);
	border-radius: 50%;
}
.Frame2_Frame2 .Group2 .Group1 .e {
	position: absolute;
	left: 8.345947265625px;
	top: 1.9425888061523438px;
	width: 8.25px;
	height: 21.75px;
	color: rgba(255,255,255,1.00);
	font-family: PP Formula;
	font-size: 16.487621784210205px;
	font-weight: 400;
	line-height: 19.32143211364746px;
}
.Frame2_Frame2 .Group2 .Ellipse2 {
	position: absolute;
	left: 14.101776123046875px;
	top: 16.763809204101562px;
	width: 1.366973876953125px;
	height: 1.3670082092285156px;
	background: rgba(184,113,113,1.00);
	border-radius: 50%;
}
.Frame2_Frame2 .EDUVERSE {
	position: absolute;
	left: 69.75px;
	top: 25.5px;
	width: 54px;
	height: 18px;
	color: rgba(0,0,0,1.00);
	font-family: PP Formula;
	font-size: 13.5px;
	font-weight: 400;
	line-height: 15.8203125px;
	cursor: pointer;
}
.Frame2_Frame2 .Vector1 {
	position: absolute;
	left: 36.75px;
	top: 63.75px;
	width: 1366.5px;
	height: 0.0001201629638671875px;
}
.Frame2_Frame2 .Vector2 {
	position: absolute;
	left: -22.5px;
	top: 1062.7499084472656px;
	width: 1483.5px;
	height: 0.000091552734375px;
}
.Frame2_Frame2 .LPSINHHC {
	position: absolute;
	left: 37.5px;
	top: 87.75px;
	width: 161.25px;
	height: 39.75px;
	color: rgba(0,0,0,1.00);
	font-family: Oswald;
	font-size: 27px;
	font-weight: 400;
	line-height: 31.640625px;
}
.Frame2_Frame2 .LPMTHUT {
	position: absolute;
	left: 39px;
	top: 1086.75px;
	width: 164.25px;
	height: 39.75px;
	color: rgba(0,0,0,1.00);
	font-family: Oswald;
	font-size: 27px;
	font-weight: 400;
	line-height: 31.640625px;
}
.Frame2_Frame2 .Rectangle2 {
	position: absolute;
	left: 36px;
	top: 139.5px;
	width: 445.5px;
	height: 441.75px;
	background: rgba(245,245,245,1.00);
	border-radius: 15px;
	border: 1px solid rgba(221.00000202655792,221.00000202655792,221.00000202655792,1);
	box-sizing: border-box;
}
.Frame2_Frame2 .Rectangle6 {
	position: absolute;
	left: 37.5px;
	top: 1138.5px;
	width: 445.5px;
	height: 441.75px;
	background: rgba(245,245,245,1.00);
	border-radius: 15px;
	border: 1px solid rgba(221.00000202655792,221.00000202655792,221.00000202655792,1);
	box-sizing: border-box;
}
.Frame2_Frame2 .Rectangle3 {
	position: absolute;
	left: 497.25px;
	top: 139.5px;
	width: 445.5px;
	height: 441.75px;
	background: rgba(245,245,245,1.00);
	border-radius: 15px;
	border: 1px solid rgba(221.00000202655792,221.00000202655792,221.00000202655792,1);
	box-sizing: border-box;
}
.Frame2_Frame2 .Rectangle7 {
	position: absolute;
	left: 498.75px;
	top: 1138.5px;
	width: 445.5px;
	height: 441.75px;
	background: rgba(245,245,245,1.00);
	border-radius: 15px;
	border: 1px solid rgba(221.00000202655792,221.00000202655792,221.00000202655792,1);
	box-sizing: border-box;
}
.Frame2_Frame2 .Rectangle4 {
	position: absolute;
	left: 958.5px;
	top: 139.5px;
	width: 445.5px;
	height: 441.75px;
	background: rgba(245,245,245,1.00);
	border-radius: 15px;
	border: 1px solid rgba(221.00000202655792,221.00000202655792,221.00000202655792,1);
	box-sizing: border-box;
}
.Frame2_Frame2 .Rectangle8 {
	position: absolute;
	left: 960px;
	top: 1138.5px;
	width: 445.5px;
	height: 441.75px;
	background: rgba(245,245,245,1.00);
	border-radius: 15px;
	border: 1px solid rgba(221.00000202655792,221.00000202655792,221.00000202655792,1);
	box-sizing: border-box;
}
.Frame2_Frame2 .Rectangle5 {
	position: absolute;
	left: 36px;
	top: 597px;
	width: 445.5px;
	height: 441.75px;
	background: rgba(245,245,245,1.00);
	border-radius: 15px;
	border: 1px solid rgba(221.00000202655792,221.00000202655792,221.00000202655792,1);
	box-sizing: border-box;
}
.Frame2_Frame2 .KHMPHCTHNGI {
	position: absolute;
	left: 54px;
	top: 156px;
	width: 160.5px;
	height: 22.5px;
	color: rgba(0,0,0,1.00);
	font-family: Oswald;
	font-size: 15px;
	font-weight: 400;
	line-height: 17.578125px;
}
.Frame2_Frame2 .KHMPHCTHNGI_1 {
	position: absolute;
	left: 55.5px;
	top: 1155px;
	width: 160.5px;
	height: 22.5px;
	color: rgba(0,0,0,1.00);
	font-family: Oswald;
	font-size: 15px;
	font-weight: 400;
	line-height: 17.578125px;
}
.Frame2_Frame2 .CUTOCATBO {
	position: absolute;
	left: 515.25px;
	top: 156px;
	width: 132.75px;
	height: 22.5px;
	color: rgba(0,0,0,1.00);
	font-family: Oswald;
	font-size: 15px;
	font-weight: 400;
	line-height: 17.578125px;
}
.Frame2_Frame2 .CUTOCATBO_1 {
	position: absolute;
	left: 516.75px;
	top: 1155px;
	width: 132.75px;
	height: 22.5px;
	color: rgba(0,0,0,1.00);
	font-family: Oswald;
	font-size: 15px;
	font-weight: 400;
	line-height: 17.578125px;
}
.Frame2_Frame2 .SPHTSINHVPHTTRINCASSNGTRNTRIT {
	position: absolute;
	left: 976.5px;
	top: 156px;
	width: 318.75px;
	height: 45px;
	color: rgba(0,0,0,1.00);
	font-family: Oswald;
	font-size: 15px;
	font-weight: 400;
	line-height: 17.578125px;
}
.Frame2_Frame2 .SPHTSINHVPHTTRINCASSNGTRNTRIT_1 {
	position: absolute;
	left: 978px;
	top: 1155px;
	width: 318.75px;
	height: 45px;
	color: rgba(0,0,0,1.00);
	font-family: Oswald;
	font-size: 15px;
	font-weight: 400;
	line-height: 17.578125px;
}
.Frame2_Frame2 .SPHTSINHVPHTTRINCASSNGTRNTRIT_2 {
	position: absolute;
	left: 54px;
	top: 613.5px;
	width: 318.75px;
	height: 45px;
	color: rgba(0,0,0,1.00);
	font-family: Oswald;
	font-size: 15px;
	font-weight: 400;
	line-height: 17.578125px;
}
.Frame2_Frame2 .Frame3 {
	position: absolute;
	left: 328.5px;
	top: 531px;
	width: 135px;
	height: 32.25px;
	display: flex;
	padding-top: 6px;
	padding-right: 18px;
	padding-bottom: 6px;
	padding-left: 18px;
	box-sizing: border-box;
	background: rgba(250,238,131,1.00);
	border-radius: 9px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Frame2_Frame2 .Frame3 .BTULPHC {
	position: relative;
	flex: none;
	margin-right: 7.5px;
	width: 99px;
	height: 20.25px;
	color: rgba(0,0,0,1.00);
	font-family: Oswald;
	font-size: 13.5px;
	font-weight: 300;
	line-height: 15.8203125px;
}
.Frame2_Frame2 .Group3 {
	position: absolute;
	left: 1374px;
	top: 19.5px;
	width: 30px;
	height: 30px;
}
.Frame2_Frame2 .Group3 .Group1_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30px;
	height: 30px;
}
.Frame2_Frame2 .Group3 .Group1_1 .Ellipse1_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30px;
	height: 30px;
	background: rgba(221,221,221,1.00);
	border-radius: 50%;
}
.Frame2_Frame2 .Group3 .Group1_1 .e_1 {
	position: absolute;
	left: 10.1162109375px;
	top: 2.354656219482422px;
	width: 9.99993896484375px;
	height: 26.36363983154297px;
	color: rgba(221,221,221,1.00);
	font-family: PP Formula;
	font-size: 16.487621784210205px;
	font-weight: 400;
	line-height: 19.32143211364746px;
}
.Frame2_Frame2 .Group3 .Ellipse2_1 {
	position: absolute;
	left: 17.0928955078125px;
	top: 20.31976318359375px;
	width: 1.65692138671875px;
	height: 1.6569786071777344px;
	background: rgba(221,221,221,1.00);
	border-radius: 50%;
}
